# Ambiente virtual
venv/
*.venv
.venv

# Caches do Python
__pycache__/
*.pyc

# Arquivos de upload dos usuários
fecomp/uploads/

# Arquivo de ambiente 
.env

# Configurações de IDEs/Editores
.vscode/
.idea/