{% extends 'base.html' %}

{% block title %}{{ folder.name }}{% endblock %}

{% block content %}
<h2 class="page-title">Pasta: {{ folder.name }}</h2>
<div class="file-grid">
    {% for file in files %}
    <div class="file-card">
        <a href="{{ url_for('views.uploaded_file', filename=file.filename) }}" target="_blank" class="file-link">
            <i data-feather="file-text" class="file-icon"></i>
            <span>{{ file.original_filename }}</span>
        </a>
        <div class="file-actions">
            <button class="action-btn-file delete-file-btn" data-file-id="{{ file.id }}"><i data-feather="trash-2"></i></button>
        </div>
    </div>
    {% endfor %}
    
    <div class="file-card upload-card">
        <form class="upload-form" action="{{ url_for('views.upload_file', folder_id=folder.id) }}" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="upload-label">
                <i data-feather="upload-cloud"></i>
                <span>Enviar Arquivo</span>
            </label>
            <input id="file-upload" name="file" type="file" onchange="this.form.submit()">
        </form>
    </div>
</div>
{% if not files %}
    <p class="empty-message">Nenhum ficheiro aqui. Comece enviando um!</p>
{% endif %}

<div id="delete-file-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Excluir Ficheiro</h2>
        <p>Você tem certeza que deseja excluir este ficheiro? Esta ação é irreversível.</p>
        <form id="delete-file-form" action="" method="post">
            <button type="submit" class="profile-btn delete">Sim, excluir</button>
        </form>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='js/folders.js') }}"></script>
{% endblock %}