{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="form-container">
    <form action="{{ url_for('views.add_subject') }}" method="post" class="add-subject-form">
        <h3>Criar Nova Matéria</h3>
        <input type="text" name="subject_name" placeholder="Nome da Matéria" required>
        <button type="submit">Adicionar</button>
    </form>
</div>
<div class="subject-grid">
    {% for subject in subjects %}
        <div class="subject-card contrast-card" style="background-color: {{ subject.color }};">
            <a href="{{ url_for('views.pastas_page', subject_id=subject.id) }}" class="subject-link">
                {{ subject.name }}
            </a>
            <div class="subject-actions">
                <button class="action-btn color-subject-btn" data-subject-id="{{ subject.id }}" data-subject-color="{{ subject.color }}"><i data-feather="droplet"></i></button>
                <button class="action-btn delete-subject-btn" data-subject-id="{{ subject.id }}"><i data-feather="trash-2"></i></button>
            </div>
        </div>
    {% endfor %}
</div>
 {% if not subjects %}
    <p class="empty-message">Você ainda não criou nenhuma matéria. Adicione uma acima!</p>
{% endif %}

<div id="delete-subject-modal" class="modal">
    </div>
<div id="color-subject-modal" class="modal">
    </div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/contraste.js') }}"></script>
{% endblock %}