{% extends 'logbase.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo Educa AI" class="logo-image">
    <h1 class="logo">Educa AI</h1>
    <p class="subtitle">Seu repositório acadêmico</p>
    
    <form class="login-form" action="{{ url_for('autenticacao.login') }}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Digite seu email">
        
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <button type="submit" class="btn-entrar">Entrar</button>
        
        <div class="links">
            <a href="#" class="link-forgot">Esqueceu a Senha?</a>
            <a href="{{ url_for('autenticacao.pagina_registo') }}" class="link-create">Criar conta</a>
        </div>
    </form>
</div>
{% endblock %}