<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa AI - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='imagens/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="login-page">

    <div class="mobile-warning-overlay">
        <div class="mobile-warning-content">
            <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo Educa AI" style="width: 100px; height: 100px; border-radius: 50%;">
            <h2 style="color: white; margin-top: 10px;">Aviso de Compatibilidade</h2>
            <p>O Educa AI foi projetado para uma experiência otimizada em desktop.</p>
            <p>A versão mobile ainda não está disponível e pode apresentar problemas de layout ou funcionalidade.</p>
            <p style="font-weight: 600; margin-top: 10px;">Para a melhor experiência, por favor, acesse através de um computador.</p>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>