{% extends 'admin/admin_base.html' %}
{% block title %}Editar Aviso{% endblock %}

{% block content %}
<h2 class="page-title">Editar Aviso</h2>

<div class="form-container">
    <form action="{{ url_for('admin_bp.edit_announcement', announcement_id=announcement.id) }}" method="post" class="modal-form" style="display: flex; flex-direction: column; gap: 10px;">
        {{ form.hidden_tag() }}
        
        <label for="content">Conteúdo do Aviso:</label>
        <textarea id="content" name="content" rows="5" required style="resize: vertical;">{{ announcement.content }}</textarea>
        
        <div style="display: flex; gap: 15px; margin-top: 15px;">
             <button type="submit" class="btn-entrar" style="align-self: flex-start;">Salvar Alterações</button>
             <a href="{{ url_for('admin_bp.manage_course', course_id=announcement.course_id) }}" class="profile-btn delete" style="text-decoration: none;">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}